*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    width: 100%;
    display: inline-flex;
}
.logo{

display: inline-block;
width: 180px;
flex-shrink: 0;

}
.logo a img{
    width: 100%;
    margin-left: 5px;
    margin: auto;
}
.menu{
display: inline-flex;
list-style: none;
padding: 0;

width: 100%;
max-width: 1500px;
margin: auto;
}

.menu li a{
text-decoration: none;
color: white;
padding: 30px;
display: block;
}
.menu li{
text-align: center;
;
}
.menu li a:hover{
background: lightpink;
}
.derecha{
    margin-left: auto;
}
.contenedor{
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-top: 15%;
}
.bienvenido h1{
    font-size: 54px;
    color: white;
    margin-bottom: 35px;
}
.bienvenido p{
    margin-bottom: 35px;
    color: white;
}
.p1{
    font-size: 20px;
    margin-top: 15px;
    
  
}
.inicio{
    background-color: #53e835;
    color: white;
    width: 100px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
.registro{
    font-size: 14px;
    margin-top: 35px;

}
footer{
    margin-top: 15%;
    color:white;
}
